html
  head
    title Welcome to #{appName}!
  body
    h1 Hello #{username},
    p Thank you for signing up on #{appName}!
    p We are excited to have you on board.
    p If you have any questions, feel free to contact us.
